*{
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
    font-weight: 600;
    font-family: 'XBRiyaz', sans-serif;
}


body{
    min-height: 100vh;
}
.receipt-template{
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-color: #ccc;
    border-style: solid;
    padding: 0.5rem 5rem;
}
.receipt-header > span, .receipt-content > span{
    width: 80%;
    border: 0.3px solid #707070;
    box-shadow: 2px 2px 1px #707070;
    vertical-align: middle;
    text-align: center;
    padding: 0.5rem;
    font-size: 27px;
}
table tr td{
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}
table tr td:nth-child(3){
    padding-right: 1rem;
}
.receipt-content > span{
    width: 35%;
    align-self: center;
}
.receipt-content > div > p{
    border-bottom: 0.3px solid #707070;
    width: 250px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.receipt-text{
    font-size: 18px;
    width: 90%;
}
.receipt-text p{
    display: inline-block;
    border-bottom: 0.3px solid #707070;
    vertical-align: middle;
    text-align: center;
    flex: 1;
}

@page{
    header: page-header;
    footer: page-footer;
}